@font-face
	font-family "Proxima Nova"
	font-style normal
	src url(fonts/ProximaNovaRegular.ttf)


@font-face
	font-family "Proxima Nova Bold"
	font-style normal
	src url(fonts/ProximaNovaBold.ttf)
   
 
html
body
	font-family "Proxima Nova", Helvetica, Arial, sans-serif
	font-size 16px
	color #474d58
 	
body 
	background-color #ebeef6
	
.title
	position relative
	margin-bottom 30px
	font-size 2rem
	font-family "Proxima Nova Bold", Helvetica, Arial, sans-serif
	text-align center
 	
	@media (min-width: landscape_phones)
		font-size 2.125rem