.categories__item
	display flex
	margin-bottom 30px
	text-align center
	
.inner_wrapper
	width 100% 
	border-radius 5px
	border 1px solid #d9dde5
	background-color #fff
	
	a
		display flex
		flex-direction column
		height 100%
		padding 20px 15px
		color #383e49

		&:hover
			text-decoration none
			color #007bff
		
	
.image-wrap
	height 106px
	line-height 106px
	

.categories__text
	flex-grow 1
	display flex
	justify-content center
	align-items center
	font-size 1.25rem
	